body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#222;
color:white;
padding:20px;
display:flex;
justify-content:space-between;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

section{
padding:60px;
text-align:center;
}

.project{
background:white;
padding:20px;
margin:20px auto;
max-width:400px;
box-shadow:0 0 10px gray;
}

footer{
background:#222;
color:white;
padding:20px;
text-align:center;
}
